.NasaImg-inner{
  width: 1200px;
  margin: 0 auto;
}
.NasaImg{
  text-align: center;
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin: 0 30%;
  transform: translate(30%, 0);
  border-radius: ;
}